body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  a {
    text-decoration: none;
    color: white;
  }
  
  .containerr {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .top-nav {
    background-color: #2d4a87;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
  
  .top-nav .left-links a,
  .top-nav .right-links a {
    margin-right: 1px;
  }
  
  .right-links i {
    margin-right: 0.3rem;
  }
  
  .main-nav {
    background-color: white;
    padding: 1rem 0;
    border-bottom: 2px solid #2d4a87;
  }
  
  .main-nav .logo img {
    height: 100px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: #2d4a87;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none; 
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
  }
  
  .search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #2d4a87;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  
  .search-bar .search-btn {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    background-color: #2d4a87;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  
  .search-bar .search-btn:hover {
    background-color: #1d3570;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 1.8rem;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
  }

  .upload-section {
    margin-bottom: 20px;
  }

  .upload-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input[type="file"] {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .submit-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-button:hover {
    background-color: #45a049;
  }